html {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}


h1 {
  font-size: 50px;
  text-align: center;
}

p, li {
  font-size: 10px;
  line-height: 1;
  letter-spacing: 1px;
}


html {
  width: flex;
  height: flex;
  background-color: #EEEEEE;
}

body {
  width: 75%;
  height: fit-content;
  display: block;
  margin: 0 auto;
  background-color: #215A36;
  padding: 0 20px 20px 20px;
  border: 3px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #EEEEEE;
  text-shadow: 2px 2px 1px black;
}

img {
  box-sizing: border-box;
  width: flex;
  height: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
